// font-size(px): 12, 14, 16, 20, 34
$sizeMap: (
  light: 12px,
  normal: 14px,
  bold: 16px,
  bolder: 20px,
);

@function fontSize($key: normal) {
  @if map-has-key($sizeMap, $key) {
    @return map-get($sizeMap, $key);
  }

  @warn 'Unknown `#{$key}` in $sizeMap.';
  @return null;
}

.page-wrap {
  width: 100%;
  max-width: 1000px;
}

/**
 * mixins
 */
@mixin flexbox($direction:row, $wrap:nowrap, $justify-content:flex-start, $align-items:stretch) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
