// font-size(px): 12, 14, 16, 20, 34
$font-light: 12px;
$font: 14px;
$font-bold: 16px;
$font-bolder: 20px;

$line-height: $font + 10;

.page-wrap {
  width: 100%;
  max-width: 1000px;
}

/**
 * mixins
 */
@mixin flexbox($direction:row, $wrap:nowrap, $justify-content:flex-start, $align-items:stretch) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
