@import 'global';

.app {
  min-height: 100%;
  @include flexbox(column, nowrap, flex-start, center);

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .nav {
    flex: 0 0 auto;
    list-style-position: inside;
    padding: 0 torem(5px);

    .active {
      color: color(green);
    }
  }

  .content {
    flex: 0 0 auto;
    padding: 0 torem(5px);
  }
}
