@import '~zp-ui/styles/func';

.app {
  @include flexbox(column, nowrap, flex-start, center);

  min-height: 100%;
  color: var(--text, #222);
  padding: 0 torem(5px);

  .container {
    width: 100%;
  }

  @media only screen and (min-width: 1001px) {
    .container {
      width: 95%;
    }
  }

  .nav {
    flex: 0 0 auto;

    .active {
      color: var(--green, #008000);

      &:focus {
        outline: none;
      }
    }
  }

  .content {
    // page fade-exit定位
    position: relative;
    flex: 0 0 auto;
    padding-bottom: torem(10px);
  }
}
