@import 'global';

.app {
  width: 100%;
  height: 100%;
  @include flexbox(column);
  @extend .page-wrap;
  background-color: color(white);
  padding: 10px;

  .nav {
    .active {
      color: color(green);
    }
  }

  .content {
    flex: 0 0 auto;
  }
}
