@import '~normalize.css';

@import 'color.map';

@import '~zp-ui/styles/func';
@import '~zp-ui/styles/root';
@import '~zp-ui/styles/global.module';

:global(#root) {
  height: 100vh;
  font-size: fontSize();
}

:global(.dev) {
  height: 100%;
}
