@import 'reset';
@import 'global';

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, button, input, textarea, select {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-size: $font;
    line-height: $line-height;
  }
}

:global(#root) {
  height: 100%;
  @include flexbox(row, nowrap, space-around);
}
