{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }],
    "@babel/preset-react",
    ["@babel/preset-stage-2", {
      "decoratorsLegacy": true
    }]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
