{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
