{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "not ie < 11"]
      },
      "modules": false,
      "useBuiltIns": false
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel"
  ]
}
