{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "no-cond-assign": ["error", "except-parens"],
    "jsx-a11y/anchor-is-valid": ["error", {
      components: ["Link"],
      specialLink: [],
      aspects: ["invalidHref", "preferButton"]
    }]
  },
  "extends": "airbnb"
}
