{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  },
  "rules": {
    "no-cond-assign": ["error", "except-parens"],
    "no-param-reassign": [
      "error", { "props": false }
    ]
  },
  "extends": "airbnb"
}
