<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <title>Template</title>
  <!-- app icon -->
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/icon@iphone.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon@iphone-plus.png">
  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/favicon.png">
  <!-- build:css styles/normalize.css -->
  <link rel="stylesheet" href="normalize.css/normalize.css" media="all">
  <!-- endbuild -->
  <!-- styles -->
  <link rel="stylesheet" href="/dist/styles.css?v={{version}}">
</head>
<body>
  <div id="root"></div>

  <script src="/dist/utils.js?v={{version}}"></script>
  <script src="/dist/vendor.js?v={{version}}"></script>
  <script src="/dist/bundle.js?v={{version}}"></script>
</body>
</html>
