<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <!-- app icon -->
  <link rel="apple-touch-icon" sizes="120x120" href="/icon@iphone.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon@iphone-plus.png">
  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon.png">
</head>
<body>
  <div id="root"></div>
</body>
</html>
