@import '~zp-ui/styles/func';

.modal {
  display: none;

  &.modal--active {
    @include flexbox(column, nowrap, center, center);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
  }
}
