@import '~zp-ui/styles/func';

.app {
  @include flexbox(column, nowrap, flex-start, center);

  min-height: 100%;
  color: var(--text, #222);
  padding: 0 torem(5px);

  .container {
    width: 100%;
  }

  @media only screen and (min-width: 1001px) {
    .container {
      width: 95%;
    }
  }

  .nav {
    flex: 0 0 auto;

    .active {
      color: var(--green, #008000);

      &:focus {
        outline: none;
      }
    }
  }

  .content {
    // page fade-exit定位
    position: relative;
    flex: 0 0 auto;
    padding-bottom: torem(10px);
  }

  .picture {
    flex: 1 1 auto;
  }
}

.modal {
  font-size: fontSize(18px);
  line-height: 2;
  background-color: var(--lightgrey);
  padding: 0 torem(20px);
  user-select: none;
}

// transition
:global {
  .fade-appear,
  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter-active,
  .fade-appear-active {
    transition: opacity 0.3s;
    opacity: 1;
  }

  .fade-exit {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  .fade-exit-active {
    transition: opacity 0.1s;
    opacity: 0.01;
  }
}
